.my_bg-black {
    background-color: black;
}
.my_sony-logo {
    height: 25px;
}


.my_background-one {
    position: relative;
}
.my_text-content {
    position: relative;
    padding-top: 400px;
    padding-bottom: 300px;
    z-index: 10;
}

.my_video-hero {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: top center;
}

/* MEDIA QUERY CHE SI ATTIVANO AL DI SOTTO DI UNA DETERMINATA VIEWPORT */

@media screen and (max-width: 992px) {
    .my_text-content {
        padding-top: 300px;
        padding-bottom: 215px;
    }
}

@media screen and (max-width: 768px) {
    .my_translate-side {
        max-width: 150%;
        position: relative;
        left: -25%;
        z-index: -1
    }
    .my_translate-top {
        margin-top: -90px;
    }
}

@media screen and (max-width: 567px) {
    .my_text-content {
        padding-top: 250px;
        padding-bottom: 165px;
    }
}

/* MEDIA QUERY CHE SI ATTIVANO AL DI SOPRA DI UNA DETERMINATA VIEWPORT */

@media screen and (min-width: 992px) {
    .my_translate-top {
        margin-top: -125px;
    }
}